
$font-primary: SK Reykjavik Rounded;
$font-secondary: Frederic;

$color-purple: #D9A1F9;
$color-peach: #B6E1DE;
$color-pea: #F4E0DB;
$color-yellow: #E7DA65;
$color-green: #6DD0A2;
$color-ash: #F8F8F8;
$color-brown: #F3E0DB;
$color-orange: #ED724D;
$color-body: #F8F8F8;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: (
  'preloader',
  'transition',
  'navigation', 
  'navigation-mobile-con',
  'navigation-mobile',
  'overlay',
  'content',
  'home-hero',
  'home-hero-behind',
  'beauty-1',
  'beauty-2',
  'faqs',
  'faqs-svg',
  'canvas',
  'text-bottom',
  'wrapper',
  'slider',
);
