.home{
    max-height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .home__container__tablet {
        
        height: 100vh;
        width: 100%;
        background-color: $color-primary;
        padding: 6rem 4rem;
        padding-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(12,8.33333%);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        @include media('<tablet') {
            padding: 9.5rem 4rem;
            padding-bottom: 6.5rem;
        }
        .home__container__inner{
            height: 100%;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 1;
            grid-row-end: 13;
            border-radius: 2rem;
            background: linear-gradient(10deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1621939745912-aad97fd3a34d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
            position: relative;
            min-height:100%;  
            background-size:cover;  
            overflow: hidden;
            @include media('>tablet') {
                background-size: cover;
                background-repeat: no-repeat;
            }

            
            .home__overlay{
                height: 100%;
                width: 100%;
                display: flex;
                color: rgb(227, 227, 227);
                padding-top: 30rem;
                flex-direction: column;
                align-items: center;
                @include media('<tablet') {
                    padding-top: 60rem;
                }
                @include media('<phone') {
                    padding-top: 10rem;
                }
                h2{
                    font-size: 6rem;
                    line-height: 5.7rem;
                    letter-spacing: 0.2rem;
                    @include media('<phone') {
                        font-size: 3.5rem;
                        text-align: center;
                    }
                }
                p{
                    font-size: 3.9rem;
                    width: 80%;
                    margin: auto;
                    margin-top: 10.5rem;
                    margin-bottom: 3rem;
                    line-height: 5.5rem;
                    text-align: center;
                    @include media('<phone') {
                        font-size: 1.8rem;
                        margin-top: 5rem;
                        line-height: 2.5rem;
                        width: 100%;
                        padding: 0 4rem;
                        margin-bottom: 0rem;
                    }
                }
                .btns{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10rem;
                    @include media('<phone') {
                        margin-top: 4rem;
                    }
                    .read__more{
                        margin-right: 3rem;
                        border: 1px solid white;
                        padding: 2rem 1.7rem;
                        @include media('<phone') {
                            padding: 1rem;
                        }
                        h3{
                            font-size: 2.4rem;
                            font-weight: 100;
                        }
                    }
                }
            }

            .home__gallery{
                position: absolute;
                bottom: 30rem;
                z-index: 3;
                display: inline-block;
                // padding: 0 calc(50vw - 33.5rem);
                white-space: nowrap;
                overflow: hidden;
                @include media('<phone') {
                    bottom: calc(50vh * 0.09 );
                }
                .gallery__item__media{
                    border-radius: 2rem;
                    background: linear-gradient(10deg, rgba(10, 7, 7, 0.3), rgba(0, 0, 0, 0.3));
                    display: inline-block;
                    margin-right: 3rem;
                    font-size: 0;
                    height: 80rem;
                    overflow: hidden;
                    pointer-events: auto;
                    position: relative;
                    transform: translateZ(0);
                    vertical-align: top;
                    width: 67rem;
                    @include media('<phone') {
                        height: calc(50vh * 0.7 );
                        width: 47rem;
                    }
                    .gallery__item__top{
                        position: absolute;
                        background: linear-gradient(10deg, rgba(10, 7, 7, 0.6), rgba(0, 0, 0, 0.5));
                        bottom: 0rem;
                        width: 100%;
                        height: 13rem;
                        z-index: 5;
                        color: gray;
                        display: flex;
                        align-items: center;
                        @include media('<phone') {
                            height: 5rem;
                        }
                        justify-content: space-between;
                        h4, span{
                           font-size: 4rem;
                           padding: 0rem 1.4rem;
                           @include media('<phone') {
                            font-size: 2rem;
                        }
                        }
                    }
                    .gallery__item__bottom{
                        figure{
                            img{
                                height: 100%;
                                left: 0;
                                object-fit: cover;
                                object-fit: cover;
                                position: absolute;
                                top: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .home__showcase{
        align-items: center;
        background: $color-primary;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 86rem;
        padding-top: 19rem;
        position: relative;
        text-align: center;
        z-index: 1;

        .showcase__label{
            font-size: 1.2rem
        }
        .showcase__description{
            width: 32rem;
            font-size: 1.8rem;
            line-height: 3rem;
        }

        h2{
            font-size: 0; 
            margin-top: 1.5rem;
            width: 60rem;
            line-height: 5rem;
            span{
                font-size: 5rem;
                margin-bottom: 2.5rem;
            }
        }
        .home__showcase__media {
            position: absolute;
            .home__showcase__media__box {
                border-radius: 1rem;
                height: 100%;
                left: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
                width: 100%;
                .home__showcase__media__image{
                    height: 100%;
                    left: 0;
                    -o-object-fit: cover;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        .home__showcase__media:first-of-type {
            border-radius: 1rem 0 0 1rem;
            height: 28.2rem;
            right: 0;
            top: 18rem;
            width: 41rem;
            
        }

        .home__showcase__media:nth-of-type(2) {
            height: 27.5rem;
            right: 25.5rem;
            top: 22.8rem;
            width: 21.7rem;

        }
        .home__showcase__media:nth-of-type(3) {
            height: 32.8rem;
            left: 15rem;
            top: 26.8rem;
            width: 25.7rem;
            z-index: 1;
        }
        .home__showcase__media:nth-of-type(4) {
            height: 26rem;
            left: 6rem;
            top: 40.3rem;
            width: 46.2rem;
        }
    }

    .home__highlight{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 16rem 0;
        background: $color-primary;

        .home__highlight__box{
            position: relative;
            .home__highlight__description{
                font-size: 4.6rem;
                text-align: center;
                line-height: 6.5rem;
                .home__highlight__description__text {
                    display: inline-block;
                    transition: transform 1s cubic-bezier(.19,1,.22,1);
                }

                .home__highlight__description__text:first-of-type {
                    transform: translateX(-5.3rem);
                }
                .home__highlight__description__text:nth-of-type(2) {
                    transform: translateX(5.2rem);
                }
                .home__highlight__description__text:nth-of-type(4) {
                    transform: translateX(-5.3rem);
                }
                .home__highlight__description__text:nth-of-type(5) {
                    transform: translateX(5.2rem);
                }
                .home__highlight__description__text:nth-of-type(6) {
                    transform: translateX(-2rem);
                }
                .home__highlight__description__text:nth-of-type(7) {
                    transform: translateX(4.2rem);
                }
               
            }
            .home__highlight__image{
                border-radius: 50%;
                height: 12rem;
                opacity: 1;
                position: absolute;
                transform: scale(.5);
                transform-origin: center;
                transition: opacity 1s ease,transform 1s ease;
                width: 12rem;
            }
            .home__highlight__image:first-of-type {
                left: 31.5rem;
                top: -3.5rem;
            }
            .home__highlight__image:nth-of-type(2) {
                left: -3.5rem;
                top: 2.5rem;
            }
            .home__highlight__image:nth-of-type(3) {
                right: -3.5rem;
                top: 2.5rem;
            }
            .home__highlight__image:nth-of-type(4) {
                left: -3rem;
                top: 9.5rem;
            }
            .home__highlight__image:nth-of-type(5) {
                left: 51rem;
                top: 9.5rem;
            }
            .home__highlight__image:nth-of-type(6) {
                right: -1.5rem;
                top: 9.5rem;
            }
            .home__highlight__image:nth-of-type(7) {
                left: 85rem;
                top: 16.5rem;
            }
        }
    }

    .home__collections{
        color: #fff;
        height: 356rem;
        position: relative;
        text-align: center;
        overflow: hidden;
        background: $color-primary;
        .home__collections__wrapper {
            position: relative;


            .home__collections__gallery{
                display: inline-block;
                position: relative;
                white-space: nowrap;

                .home__collections__gallery__media{
                    border-radius: 1rem;
                    display: inline-block;
                    font-size: 0;
                    height: 52.7rem;
                    overflow: hidden;
                    pointer-events: auto;
                    position: relative;
                    transform: translateZ(0);
                    vertical-align: top;
                    width: 67rem;
                    margin-right: 3rem;

                    figure{
                        height: 100%;
                        left: 0;
                        -o-object-fit: cover;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    
}